body {
    height: 50vh;
    display: flex;
    background-color: darkseagreen;
    background-size: 150%;
}

.canvas {
    width: 512px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


div#editor {
    display: none;
    ba
}

div#title {
    display: inline;
}

.contentWrap {

    left: 25%;
    top: 0;
    padding-left: 1%;
}

.msgTable {
    margin-top: 5vh;
    display: table;
    table-layout: fixed;
    top: 0;
    left: 0;
    min-width: 25%;
    max-height: 50vh;
}

.msgRow {
    display: table-row;
    width: 100%;
    height: inherit;
}

.msgCell {
    display: table-cell;
    overflow: scroll;
    width: 100%;
    height: inherit;
}

.msgTitle {
    width: 100%;
    height: 1em;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.messages {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px 0 10px 0;
    overflow-wrap: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: flex;
    flex-direction: column-reverse;
    
}

.msgTextArea {
    font-size: 14px;
    width: 100%;
}

.msg {
    background-color: lightcoral;
    text-align: right;
    border-radius: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.myMsg {
    background-color: lightblue;
    border-radius: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    
}

.msgName {
    color: whitesmoke;
    text-shadow: #000 0 0 2px, #000 0 0 2px, #000 0 0 2px; 
    font-weight: bold;
    position: relative;
    width: 100%;
    top: -0.5em;
    left: 1em;
    text-align: left;
}

.myMsgName {
    color: whitesmoke;
    text-shadow: #000 0 0 2px, #000 0 0 2px, #000 0 0 2px; 
    font-weight: bold;
    position: relative;
    width: 100%;
    top: -0.5em;
    right: 1em;
    text-align: right;
}

#hidden {
    display: none;
}

#newmap {
    display: inline;
}

#alertBox {
    position: absolute;
    top: -2em;
}

#mapsWrapper {
    height: 70vh;
}

.maps {
    display: inline;   
}

.centerWrap{
    display: flex;
    width: 100vw;
}

.center {
    position: relative;
    top: 10vh;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: block;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.siteWrap {
    display: flex;
    flex-direction: column;
    width: 99vw;
}

.editor {
    position: relative;
    top: 10vh;

}