<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    {% if session.username %}
        <p>Olet kirjautunut nimellä {{ session.username }}</p>
        <a href="/logout">Kirjaudu ulos</a>

        <p>{{ userid }}</p>

        {% if (maps | count) == 0 %}
        <p>You have no maps</p>
        


        {% else %}
        <div class="maps">
            {% for map in maps %}
                <a href=maps/{{map[0]}}>Kartta</a>
            {% endfor %}
        </div>
        {% endif %}

        <a href=/newmap><button>New map</button></a>
    {% endif %}
</body>