<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div class="siteWrap">
        <div class="header">
        {% include "header.jinja" %}
        </div>
        <div style="display:flex; flex-direction: row;">
        {% include "messages.jinja" %}
            <div style="display: flex; flex-direction: column;">
                <div class="center">
                    <h1>EDITORI</h1>
                </div>

                <div class="editor">
                    <div class="cursor" id="cursor"></div>
                    <canvas id="canvas" width="256" height="256" class="canvas">Update your browser to support HTML5 Canvas</canvas>
                    <script>var data = JSON.parse({{ map_data | tojson }})</script>

                    <script src="{{ url_for('static', filename='map_canvas.js') }}"></script>

                    {% block savescript %}
                        <script>
                            function save() {
                                save_data = JSON.stringify(data)
                                $.post("/save_map", { data: save_data, id: {{map_id}} });
                            }
                        </script>
                    {% endblock %}
                    <button onclick="save()">Tallenna</button>  
                    <div class="tools">
                        <div class="brush" id="brushTools">
                            Virtaus: <input type="range" min="0" max="100" value="20" class="slider" id="brushFlow">
                            Koko: <input type="range" min="1" max="50" value="25" class="slider" id="brushSize">
                            Vahvuus: <input type="range" min="1" max="100" value="25" class="slider" id="brushIntensity">
                            Melu: <input type="range" min="0" max="100" value="10" class="slider" id="brushNoise">
                            <input type="checkbox" id="carve" unchecked><label>Kaiverra</label>
                        </div>
                        <div class="smooth" id="smoothTools">
                            Virtaus: <input type="range" min="0" max="100" value="30" class="slider" id="smoothFlow">
                            Koko: <input type="range" min="1" max="50" value="25" class="slider" id="smoothSize">
                            Vahvuus: <input type="range" min="1" max="100" value="50" class="slider" id="smoothIntensity">
                        </div>
                        <input type="button" value="Korkeus" id="toggleHeightMap">
                        <input type="button" value="Väri" id="toggleColor">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>