<div style="display: flex; flex-direction: row;">
        <div style="margin-left: auto;">
                <b>{{ session.username }}</b>
        </div>
        {% if navigation == "maps" %}
        <div style="font-size:small; margin: auto 10em 0 10em;"><a href="/">Kartat</a></div>
        {% elif navigation == "editor" %}
        <div style="font-size:small; margin: auto 10em 0 10em;"><a href="/">Kartat</a> | <a href="/maps/{{parent}}">Koko kartta</a></div>
        {% elif navigation == "user" %}
        <div style="font-size:small; margin: auto 10em 0 10em;"><a href="/">Koti</a></div>
        {% else %}
        <div style="margin-left: 10em; margin-right: 10em;"></div>
        {% endif %}
        
        <div style="margin-right: auto;">
                <a href="/logout">Kirjaudu ulos</a>
        </div>
</div>