<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head><title>Karttaklubi</title></head>
<body>
    <div class="siteWrap">
        {% if session.username %}
        <div class="header">
            {% include "header.jinja" %}
        </div>
        <div style="display: flex; flex-direction: row;">
            {% include "alku.jinja" %}
            {% include "requests.jinja" %}
        </div>
        {% else %}
            {% include "login.jinja" %}
        {% endif %}
    </div>
</body>