    {% if alert == "empty_username" %}
        <div id="alertBox">Käyttäjätunnus ei voi olla tyhjä</div>
    {% endif %}
    {% if alert == "empty_password" %}
        <div id="alertBox">Salasana ei voi olla tyhjä</div>
    {% endif %}
    <div class="centerWrap">
        <div class="center">
            <script src="{{ url_for('static', filename='alerts.js') }}"></script>
            <form action="/login" method="POST">
                <p>Tunnus<br>
            <input type="text" name="username"></p>
                <p>Salasana<br>
            <input type="password" name="password"></p>
            <input type="submit" value="Kirjaudu">
            <p><a href="/signup">Luo käyttäjä</a></p>
            </form>
        </div>
    </div>