<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div class="messagesWrap">
        <div class="msgTitle">Viestit</div>
        <div class="messages">
        {% for x in messages %}
            <p>{{x[1]}}</p>
        {% endfor %}
        </div>
        <div class="msgTextArea">
            <form action="/newmsg/{{mapcollection[0]}}" method="POST">
            <input type="text" name="msg">
            <input type="submit" value="->">
            </form>
        </div>
    </div>
    <div class="contentWrap">
    {% if session.username %}
        <p>Olet kirjautunut nimellä {{ session.username }}</p>
        <a href="/logout">Kirjaudu ulos</a> | <a href="/">Takaisin</a>
            <script src="{{ url_for('static', filename='map_title.js') }}"></script>
            <div id="title" onclick="rename()"><h2>
                {% if mapcollection[3] != None %}
                {{mapcollection[3]}}
                {% else %}
                Nimetön kartta
                {% endif %}
            </h2></div>
            <div id="editor">
                <input type="button" value="Tallenna" onclick="saveName()" />
            </div>
        <script>
            function applyColor(i, [r,g,b]) {
                imageData.data[4*i] = r;        //R
                imageData.data[4*i + 1] = g;    //G
                imageData.data[4*i + 2] = b;  //B
                imageData.data[4*i + 3] = 255;  //A
            }

            function createImage() {
                for (let i = 0; i < jdata.length; i++) {
                    dataEntity = jdata[i];
                    if (dataEntity == 0) {
                        applyColor(i, [0,0,255]);
                    } else if (dataEntity <= 10) {
                        applyColor(i, [245,230,66]);
                    } else if (dataEntity <= 20) {
                        applyColor(i, [72,117,8]);
                    }
                    
                }
                context.putImageData(imageData, 0, 0);
            }
        </script>
        <script>
        var indeksi = 0
        </script>
        {% for i in range(mapcollection[4]) %}
            <p>
            {% for o in mapcollection[2][i] %}
                <a href=/editor/{{o}}><canvas id={{o}} width="64" height="64" class="maplink">Update your browser to support HTML5 Canvas</canvas></a>
                <script>
                    var jdata = {{submaps}}[indeksi];
                    canvas = document.getElementById("{{o}}");
                    context = canvas.getContext('2d');
                    imageData = context.createImageData(Math.sqrt(jdata.length), Math.sqrt(jdata.length));
                    createImage();
                    indeksi++;
                </script>
            {% endfor %}
            </p>
        {% endfor %}

        <div class="buttons">
            <a href=/maps/new_row/{{mapcollection[0]}}><button>New row</button></a>
            <a href=/maps/new_column/{{mapcollection[0]}}><button>New column</button></a>
        </div>
    {% endif %}
    </div>
</body>