{% block messages_temp %}
    <div class="msgTable">
        <div class="msgRow">
            <div class="msgCell">
                <div class="msgTitle">Viestit</div>
            </div>
        </div>
        <div class="msgRow">
            <div class="msgCell">
                <div class="messages" lang="fi">

                {% macro msgsStart(x) -%}
                    {% if session.username == x[0] %}
                        <div class="myMsgName">{{x[0]}}</div><div class="myMsg"><p>{{x[1]}}
                    {% else %}
                        <div class="msgName">{{x[0]}}</div><div class="msg"><p>{{x[1]}}
                    {% endif %}
                {%- endmacro %}

                {% macro msgsMiddle(x) -%}
                    <p>{{x[1]}}</p>
                {%- endmacro %}

                {% macro msgsEnd(x) -%}
                    <p>{{x[1]}}</p></div>
                {%- endmacro %}

                {% for x in messages %}
                    {% if not loop.first %}
                        {% if loop.nextitem %}
                            {% if loop.previtem[0] == x[0] and loop.nextitem[0] == x[0] %}
                                {{msgsMiddle(x)}}
                            {% elif loop.previtem[0] == x[0] and loop.nextitem[0] != x[0] %}
                                {{msgsEnd(x)}}
                            {% else %}
                                {% if loop.nextitem[0] == x[0] %}
                                    {{ msgsStart(x) }}
                                {% else %}
                                    {{ msgsStart(x) }}</p></div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if loop.previtem[0] == x[0] %}
                                {{ msgsMiddle(x) }}</p></div>
                            {% else %}
                                {{ msgsStart(x) }}</p></div>
                            {% endif %}
                        {% endif %}                    
                    {% else %}
                        {% if messages | length == 1 %}
                            {{ msgsStart(x) }}</p></div>
                        {% else %}
                            {% if loop.nextitem[0] == x[0] %}
                                {{ msgsStart(x) }}
                            {% else %}
                                {{ msgsStart(x) }}</p></div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                </div>
            </div>
        </div>
            <div class="msgTextArea">
                <form action="/newmsg/{{msg_target_id}}" method="POST">
                <input type="text" name="msg">
                {% if parent %}
                <input type="checkbox" name="submap" style="display: none;" checked>
                {% else %}
                <input type="checkbox" name="submap" style="display: none;">
                {% endif %}
                <input type="submit" value="->">
                </form>
            </div>
    </div>
    {% endblock %}
    